<h1>Edit Page</h1></br>

<form action='/edit' method="POST">
     <label>Post Name</label>
          <input name="name"/>
	  <label>Post Topic</label>
          <input name="topic"/>
	  <label>Post Text</label>
          <input name="txt"/>
     <input type="submit"></input>