<h1>New Posts</h1></br>
<form>
	<p>Post Name</p><input type="text" name="name" size="20" /></br>
	<p>Topic</p><input type="text" name="topic" size="20" /></br>
	<p>Content</p><input type="text" name="content" size="50" /></br>
</form>
